<ul class="card-text font-weight-light list-group list-group-flush">
  {% for content in data[1] %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-2 cl-sm-2 col-md-2 text-center date-column">
          {% if content.date %} {% assign date = content.date | split: '-' | join: '.' %} {% else %} {% assign date = '' %} {% endif %}
          <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px"> {{ date }} </span>
        </div>
        <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {% if content.links and content.links.size > 0 %}
              {{ content.title }}
            {% elsif content.url %}
              <a href="{{ content.url }}" target="_blank" rel="noopener noreferrer">{{ content.title }}</a>
            {% else %}
              {{ content.title }}
            {% endif %}
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.awarder }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.summary }}</h6>
          {% if content.links and content.links.size > 0 %}
            <div class="container-links ml-1 ml-md-4 mt-2">
              {% for item in content.links %}
                {% if item.link %}
                  <div class="container-link-button" style="display: inline-block; margin-right: 10px; margin-bottom: 5px;">
                    {% if item.name %}
                      <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer" class="btncv z-depth-0">{{ item.name }}</a>
                    {% else %}
                      <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer" class="btncv z-depth-0">Certificate</a>
                    {% endif %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
